//sass --watch sass:css --style compressed

.hidden {
  display: none;
}

a {
  font-size: 30px;
  padding-top: 20px;
}

.logo {
  background: blue;
  width: 100%;
  height: 100px;
}

body {
  background: #ffff;
  max-width: 100vw;
  overflow-x: hidden;
}
