<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,700,900&display=swap"
        rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/main.css" />

    <title>Sneaker Head</title>
</head>

<body>
    
    <header>
        <h1 class="hidden">Header</h1>
        <div class="logo">
            <h2 class="hidden">Logo</h2>
           
            <!-- {{!-- <img src="images/critter_logo.png" alt="Logo" /> --}} -->

        </div>
        </div>
        <ul class="nav row justify-content-center my-4">
                <li class="nav-item col-md text-center">
                  <a class="nav-link active" href="running">Running</a>
                </li>
                <li class="nav-item col-md text-center">
                  <a class="nav-link" href="boots">Boots</a>
                </li>
                <li class="nav-item col-md text-center">
                  <a class="nav-link" href="basketball">basketball</a>
                </li>
                
              </ul>
        <div class="container">
               
               <div class="row justify-content-center">
                   <div class="col-md-6">
                       <div class="imgAbt">
                           <img class="img-fluid" src="images/running.png" />
                       </div>
                   </div>
                   <div class="col-md-4">
                       <h1>Adidas Ultraboost</h1>
                       <p>Rock a fresh but classic look with the all-white Ultraboost Shoes from adidas. Ultraboost technology provides the ultimate in cushioning while the Torison System provides a stable ride for runners of all abilities.</p>
                   </div>
               </div>

               <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="imgAbt">
                        <img class="img-fluid" src="images/boots.png" />
                    </div>
                </div>
                <div class="col-md-4">
                    <h1>Timberland Boots</h1>
                    <p>When you think of Timberland® boots, you're thinking of these. Our original waterproof boot was designed more than 40 years ago and remains a best-seller today, with tireless waterproof performance and instantly recognizable work-boot styling.</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="imgAbt">
                        <img class="img-fluid" src="images/basketball.png" />
                    </div>
                </div>
                <div class="col-md-4">
                    <h1>Jordan Retro 12</h1>
                    <p>If you’re looking for a top-quality kick for your kid, look no further than the Jordan Retro 12. This sneaker is comfortable, cool, and inspired by the shoe Michael Jordan wore when he won his fifth league title. Your kiddo will start their day on the right foot with the Jordan Retro 12, knowing that they walk in a shoe similar to the one Michael Jordan rocked to the top. Kids will step ahead in the classroom and on the court with the Jordan Retro 12.</p>
                </div>
            </div>
           </div>
    
       
        <script src="js/main.js"></script>
</body>

</html>