<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,700,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/main.css" />

    <title>Critter Spraygun</title>
  </head>
  <body>
    <header>
      <h1 class="hidden">Header</h1>
      <div class="logo">
        <h2 class="hidden">Logo</h2>
        <div class="hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <img src="images/critter_logo.png" alt="Logo" />
      </div>

      <div class="navBar-desktop">
        <h2 class="hidden">Navigation Bar</h2>
        <ul>
          <li class="scrollTo">Feature</li>
          <li class="scrollTo">Projects</li>
          <li class="scrollTo">Videos</li>
        </ul>
      </div>

      <div class="navBar-mobile mobile">
        <h2 class="hidden">Navigation Bar</h2>
        <ul>
          <li class="scrollTo">Feature</li>
          <li class="scrollTo">Projects</li>
          <li class="scrollTo">Videos</li>
        </ul>
      </div>
    </header>
    <main>
      <h1 class="hidden">Container</h1>

      <section class="easy-to-use">
        <h2 class="title">Easy To Use</h2>
        <div class="steps">
          <div class="step ">
            <img src="images/easy-to-use/step-1.jpg" alt="step 1" />
            <div class="p-wrapper"><p>Set Air Pressure on Compressor</p></div>
          </div>
          <div class="step boxShadow">
            <img src="images/easy-to-use/step-2.png" alt="step 2" />
            <div class="p-wrapper">
              <p>Adjust Liquid Nozzle to middle of airstream</p>
            </div>
          </div>
          <div class="step boxShadow">
            <img src="images/easy-to-use/step-3.png" alt="step 3" />
            <div class="p-wrapper">
              <p>Add paint ( thin as recommended )</p>
            </div>
          </div>
          <div class="step boxShadow">
            <img src="images/easy-to-use/step-4.png" alt="step 4" />
            <div class="p-wrapper">
              <p>
                Practice ( constant travel speed, overlap each pass for even
                coverage )
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="features Feature">
        <h2 class="title">Features</h2>
        <div class="feature-wrapper">
          <div class="feature boxShadow">
            <img src="images/feature_images/1.png" alt="feature" />
            <h3>Light weight - comfortable design</h3>
          </div>

          <div class="feature boxShadow">
            <img src="images/feature_images/2.png" alt="feature" />
            <h3>Standard 16oz mason jar</h3>
          </div>

          <div class="feature boxShadow">
            <img src="images/feature_images/3.png" alt="feature" />
            <h3>
              Requires a 3/4 hp or larger compressor that produces 2 -3 Cubic
              Feet/Minute (CFM )
            </h3>
          </div>

          <div class="feature boxShadow">
            <img src="images/feature_images/4.png" alt="feature" />
            <h3>Fast colour change when utilizing mason jars</h3>
          </div>

          <div class="feature boxShadow">
            <img src="images/feature_images/5.png" alt="feature" />
            <h3>Adaptable to other containers</h3>
          </div>

          <div class="feature boxShadow">
            <img src="images/feature_images/6.png" alt="feature" />
            <h3>
              Sprays: Paints, Stains, Polyurethanes, Foam & Fabric Adhesives and
              Ceramic Glazes
            </h3>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <h1 class="hidden">Footer</h1>
      <div class="wrapper-left">
        <img src="images/critter_logo_2.svg" alt="Logo" />
        <a href="https://www.youtube.com/user/crittersprayproducts"
          ><img src="images/youtube.svg" alt="youtube"
        /></a>
      </div>

      <div class="wrapper-right">
        <div class="navBar">
          <h2 class="hidden">Navigation Bar</h2>
          <ul>
            <li class="scrollTo">Feature</li>
            <li class="scrollTo">Projects</li>
            <li class="scrollTo">Videos</li>
          </ul>
        </div>
      </div>
    </footer>

    <script type="module" src="js/main.js"></script>
  </body>
</html>
